* {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  color: #39444A;
}

html,
body {
  height: 100%;
}

.app-body {
  width: 100%;
  flex: 1 0 auto;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 15vh;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

.logo {
  width: 30%;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.3em;
}

.logo a {
  font-family: giulia,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5em;
  color: #F43FA5;
}

.logo img {
  width: 100%;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 25%;
}

.nav-item {
  list-style: none;
  margin: 0 0 1em 1em;
}

.nav-item a {
  font-family: giulia,sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  color: #949498;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
}

.nav-item :hover,
.nav-item :active {
  color: white;
  background-color: #949498;
}

.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.social-icons{
  display: flex;
  justify-content: center;
  width: 50%;
}

.icon {
  padding-left: 1em;
  padding-right: 1em;
  width: 20%;
}

.footer-text {
  font-size: x-small;
  padding: 3em;
  padding-top: 1em;
}

.footer-text p {
  display: flex;
  justify-content: center;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 415px) {
  nav {
    padding-top: 1em;
  }
  .nav-items {
    flex-direction: column;
    align-items: flex-end;
    width: 75%
  }
  .nav-item {
    margin: 0.5em 0 0.5em 0.5em;
  }
  .logo {
    width: 50%;
  }
  .logo img {
    width: 180%;
  }
}