* {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  color: #39444A;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 1em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 15vh;
}

.logo {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.3em;
}

.logo div {
  font-family: giulia,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5em;
  margin: 0.25em 0;
}

.logo-alyssa {
  color: #FF8AC3;
  filter: drop-shadow(1px 1px 1px lightgrey);
}

.logo-beaton {
  color: #FF5CB8;
  filter: drop-shadow(1px 1px 1px lightgrey);
}

.logo-tanguay {
  color: #F43FA5;
  filter: drop-shadow(1px 1px 1px lightgrey);
}

.nav-right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}

.nav-item {
  list-style: none;
  margin: 0 0 1em 1em;
  width: auto;
}

.nav-item a {
  font-family: giulia,sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  color: #949498;
  font-size: 2em;
  display: flex;
  justify-content: flex-end;
}

.nav-item:hover,
.nav-item:active {
  background-color: #EEEEEE;
  border-radius: 25px;
}

.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.social-icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.icon {
  padding: 0 1em;
  width: 5em;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}


/* scroll to top arrow, CSS and component by Matthew Croak https://medium.com/better-programming/create-a-scroll-to-top-arrow-using-react-hooks-18586890fedc */
.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 2em;
  left: 1em;
  z-index: 1000;
  cursor: pointer;
  animation: arrowFadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.8;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes arrowFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 420px) {
  .logo {
    margin-right: 1em;
  }.nav-item {
    margin: 0.5em 0 0.5em 0.5em;
  }
}
