.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
  width: 100%;
}

.project-list {
  display: flex;
  Overflow-x: scroll;
  justify-content: center;
  width: 100%;
}

.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  /* padding: 0; */
}

.project-item__thumbnail img {
}

.project-detail {
  display: flex;
  align-items: center;
  /* margin: 5em 2em 5em 2em; */
  width: 100%;
}

.project-detail__screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60%;
  min-height: auto;
  margin: 0.25em;
}

.project-detail__screenshot img {
  max-width: 100%;
}

.project-detail__content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 415px) {
  .project-list {
    flex-direction: column;
  }
  .project-detail {
    flex-direction: column;
  }
}