.projects {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  width: 100%;
  height: 90vh;
}

.project-list {
  display: flex;
  flex-direction: column-reverse;
  Overflow-x: scroll;
  width: 30%;
}

.project-item {
  display: flex;
  padding: 0.1em;
}

.project-item__thumbnail {
  display: flex;
  padding: 0;
}

.project-item__thumbnail img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(.25em .25em 0.5rem lightgrey);
}

.project-item__thumbnail :hover,
.project-item__thumbnail :active {
  opacity: 0.33;
}

.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-left: 1em;
}

.project-detail__screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25em;
  box-sizing: border-box;
}

.project-detail__screenshot img {
  width: 100%;
  filter: drop-shadow(.25em .25em 0.5rem lightgrey);
}

.project-detail__content {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.project-detail__content-header {
  font-family: giulia,sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;
  padding: 0.2em;
  color: #F43FA5;
}

.project-detail__description {
  padding-left: 0.5em;
}

@media (max-width: 415px) {
  .projects {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .project-list {
    width: 100%;
  }
  .project-detail {
    width: 90%;
    margin: 0;
    padding: 0;
  }
}

/* @media (max-width: 415px) */