.projects {
  display: flex;
  align-items: flex-start;
  padding: 2em 0;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.project-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 23%;
}

.project-item {
  display: flex;
  padding: 0.1em;
}

.project-item__thumbnail {
  display: flex;
  padding: 0;
}

.project-item__thumbnail img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(.25em .25em 0.5rem lightgrey);
}

.project-item__thumbnail :hover,
.project-item__thumbnail :active {
  opacity: 0.33;
}

.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;
  padding: 2em;
  height: auto;
  border-radius: 25px;
  background-color: whitesmoke;
  background-image: url(concrete-wall.png);
  filter: drop-shadow(.25em .25em 0.5rem lightgrey);
}

.project-detail__screenshot {
  display: flex;
  margin: auto;
  box-sizing: border-box;
}

.project-detail__screenshot img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  filter: drop-shadow(.25em .25em 0.5rem lightgrey);
}

.project-detail__content {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 0 1em;
  padding: 1em 1.5em;
  border-radius: 25px;
  background-color: white;
  filter: drop-shadow(.25em .25em 0.5rem lightgrey);
}

.project-detail__content-header {
  display: flex;
  padding: 1em 0 1em 0;
}

h1,
h2 {
  font-family: giulia,sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;
  color: #5784D9;
}

.project-detail__link {
  width: 15em;
}

@media (max-width: 500px) {
  .projects {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .project-list {
    width: 100%;
  }
  .project-detail {
    width: 100%;
    margin: 2em 0;
  }
  .project-detail__content-header {
    flex-direction: column;
    align-items: center;
  }
}

