.resume {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 2em;
}

.resume-img img {
  width: 100%;
}


@media (max-width: 415px) {
  .resume {
    width: 100%;
  }
  .resume-img {
    padding: 0;
    margin: 0.25em;
  }
}